name: E2E

on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:

permissions:
  contents: read
  actions: read
  checks: write
  pull-requests: write

jobs:
  e2e:
    runs-on: ubuntu-latest
    needs: build
    env:
      VERSION_PREFIX: *version-prefix
      VERSION: ${{ needs.build.outputs.version }}
      DEVICE: zero_linux
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
          key: ${{ runner.os }}-pio
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install Python Deps
        run: |
          pip install -r requirements.txt
      - name: Test
        run: python e2e
      - name: Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: E2E (Zero/Linux)
          path: e2e/report.xml
          reporter: swift-xunit
